@media (min-width: 768px) {
    html{
        font-family: sans-serif;
        scroll-behavior: smooth;
        background-color: #101935;
        color: #9AD4D6;
    }
    body{
        padding: 0;
        margin: 0;
    }
    nav{
        position: sticky;
        top: 0;
        display: flex;
        justify-content: end;
        color: #DBCBD8;
        text-decoration: none;
        list-style-type: none;
        padding-top: 26px;
    }
    a{
    text-decoration: none;
    }
    .logo{
       flex: 4;
        /*padding-top: 6px;*/
        color: #9AD4D6;
        text-align: left;
        padding-left: 17px;
        border-bottom: solid 4px transparent;
        font-family: 'Dancing Script', cursive;
        font-size: x-large;
    }
    .item, .logout{
        flex: 1;
        color: #9AD4D6;
        text-align: center;
        /*padding-top: 6px;*/
        margin: 0;
        max-width: 120px;
        margin: 0 auto;
        border-bottom: solid 4px transparent;
    }
    .item:hover, .logout:hover{
        color: #F2FDFF;
        border-bottom: solid 4px #9AD4D6;
        max-width: 120px;
        margin: 0 auto;
    }

/*    header*/
    header{
        color: #9AD4D6;
        font-family: 'Lobster', cursive;
        font-size: x-large;
        text-align: center;
        padding: 6px;
    }

    .container {
        padding: 16px;
        width: 30%;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    input[type=text], input[type=password], input[type=email],input[type=number], input[type=datetime-local], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        background-color: rgba(229, 201, 226, 0.92);
        border: 1px solid #F2FDFF;
        box-sizing: border-box;
        border-radius: 15px;

    }

    .btn {
        background-color: rgba(154, 205, 214, 0.8);
        color: #151414;
        font-weight: bolder;
        font-size: medium;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 15px;
    }

    .link{
        width: 40%;
        margin:30px auto;
    }
    .btn-a{
        color: #151414;
        margin-left: 300px;
        padding: 14px 50px;
        border: none;
        background-color: #9AD4D6;
        border-radius: 15px;
        cursor: pointer;
    }


    .btn:hover, .btn-a:hover{
        background-color: #9acbd6;
    }

    .logout{
        margin: 0;
        font-size: medium;
        background-color: #2C2C2C;
        color: darkgray;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border: none;
        border-bottom: solid 4px #9AD4D6;
        color: white;
    }
    .error-msg{
        color: #d72121;
    }
    .alert{
        background-color: #9AD4D6;
        color: black;
        padding: 10px;
        width: 20%;
        text-align: center;
        border-radius: 25px;
        position: fixed;
        right: 0px; bottom: 0px;
    }

/*    table*/

    #table {
        font-family: Arial, Helvetica, sans-serif;
        /*border-collapse: collapse;*/
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        border: 2px solid #DBCBD8;
        border-radius: 10px;
    }

    #table td, #table th {
        /*border: 1px solid #9AD4D6;*/
        padding: 8px;
    }

    #table tr:nth-child(even){background-color: #152247;}

    #table tr:hover {background-color: #1a2a57; color: #F2FDFF}

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: rgba(229, 201, 226, 0.92);
        color: #151414;
    }
    #table td{
        padding: 10px;
        margin: 10px;
    }

    /*seat layout image*/
    #radio-button-wrapper{
        display: flex;
    }
    .image-radio{
        margin-right: 7px;
        padding: 20px;
    }

    .img{
        width: 200px;
    }
    input[type=radio]:checked + .layout-border{
        border: #9AD4D6 4px solid;
    }

    input[type=checkbox]:checked + .premiumSeats{
        border: #9AD4D6 4px solid;
        background-color: #4db288;
        color: #151414;
    }
    input[type=checkbox]:checked + .regularSeats{
        border: #b7d69a 2px solid;
        background-color: #b984a1;
        color: #151414;
    }

    .details{
        color: #a0b54a;
    }
    .edit{
       color:  #41a6be;
    }
    .delete{
        color: #b54aa0;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    .add-trips{
        color: #4368b9;
    }

    .action{
        display: flex;
    }
    .action > div{
        width: 30%;
    }
    .add-trips{
        color: #4db288;

    }
    .add-bus{
        color: #b94676;

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #564787;
        color: #bcc1cb;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .booking{
        width: 70%;
        margin: auto;
        text-align: center;
        display: flex;
        margin-top: 20px;
    }
    .seat-info{
        width: 30%;
        margin: auto;
    }
    .passenger-info{
        width: 30%;
        margin: auto;
        text-align: left;
    }

    .seatBox{
        border: 1px solid #8c8888;
        width: 80%;
        margin: auto;
        padding: 30px;
        border-radius: 10px;
    }
    .premiumBox, .regularBox{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    .premiumBox{
        width: 100%;
    }
    .regularBox{
        width: 100%;
        flex-grow: 1;
    }
    .regularSeats, .premiumSeats{
        text-align: center;
        margin: auto;
        cursor: pointer;
        border-radius: 15px;
    }
    .premiumSeats{
        width: 10%;
        background-color: #428260;
        padding: 10px 5px;
        margin: 15px;
        border: transparent 2px solid;
    }
    .regularSeats{
        width: 10%;
        background-color: #a95682;
        padding: 16px 5px;
        margin: 10px;
        border: transparent 2px solid;
    }
}

