@media (min-width: 768px) {
    html{
        font-family: sans-serif;
        scroll-behavior: smooth;
        background-color: #2C2C2C;
        color: darkgray;
    }
    body{
        padding: 0;
        margin: 0;
    }
    nav{
        position: sticky;
        top: 0;
        display: flex;
        justify-content: end;
        color: #a0aec0;
        text-decoration: none;
        list-style-type: none;
        padding-top: 26px;
    }
    a{
    text-decoration: none;
    }
    .logo{
       flex: 4;
        /*padding-top: 6px;*/
        color: #FBC91B;
        text-align: left;
        padding-left: 17px;
        border-bottom: solid 4px transparent;
        font-family: 'Dancing Script', cursive;
        font-size: x-large;
    }
    .item, .logout{
        flex: 1;
        color: #a0aec0;
        text-align: center;
        /*padding-top: 6px;*/
        margin: 0;
        max-width: 120px;
        margin: 0 auto;
        border-bottom: solid 4px transparent;
    }
    .item:hover, .logout:hover{
        color: white;
        border-bottom: solid 4px #FBC91B;
        max-width: 120px;
        margin: 0 auto;
    }

/*    header*/
    header{
        color: #a0aec0;
        font-family: 'Lobster', cursive;
        font-size: x-large;
        text-align: center;
        padding: 6px;
    }

    .container {
        padding: 16px;
        width: 30%;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    input[type=text], input[type=password], input[type=email],input[type=number], input[type=datetime-local], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .btn {
        background-color: #dcab0c;
        color: #151414;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .link{
        width: 40%;
        margin:30px auto;
    }
    .btn-a{
        color: #151414;
        margin-left: 300px;
        padding: 14px 50px;
        border: none;
        background-color: #dcab0c;
    }


    .btn:hover, .btn-a:hover{
        background-color: #e1c152 ;
    }

    .logout{
        margin: 0;
        font-size: medium;
        background-color: #2C2C2C;
        color: darkgray;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border: none;
        border-bottom: solid 4px #FBC91B;
        color: white;
    }
    .error-msg{
        color: #d72121;
    }
    .alert{
        background-color: #e7c125;
        color: black;
        padding: 10px;
        width: 20%;
        text-align: center;
        border-radius: 25px;
        position: fixed;
        right: 0px; bottom: 0px;
    }

/*    table*/
    #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }

    #table td, #table th {
        border: 1px solid #888686;
        padding: 8px;
    }

    #table tr:nth-child(even){background-color: #3d3d41;}

    #table tr:hover {background-color: rgba(221, 221, 221, 0.56); color: black}

    #table th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #dcab0c;
        color: #151414;
    }
    .greenbtn{
        background-color: #3ac03a;
    }
    .bluebtn{
        background-color: #bcc1cb;
    }
    .redbtn{
        background-color: #bcc1cb;
    }
    .greenbtn, .bluebtn,.redbtn{
        border: none;
        padding: 5px;
        color: #151414;
        font-size: small;
    }
    .greenbtn:hover, .bluebtn:hover,.redbtn:hover{
        cursor: pointer;
    }
    /*seat layout image*/
    #radio-button-wrapper{
        display: flex;
    }
    .image-radio{
        margin-right: 7px;
        padding: 20px;
    }

    .img{
        width: 200px;
    }

    input[type=radio]:checked + .layout-border{
        border: #FBC91B 4px solid;

    }
}

